<a href="https://colab.research.google.com/github/Kensuzuki95/Corporate_AI_Ethics_Guideline_Analysis/blob/main/Result_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np 
import pandas as pd 
import requests
import io

In [2]:
# Downloading the result data/file from your GitHub account

url_1 = ("https://raw.githubusercontent.com/Kensuzuki95/Corporate_AI_Ethics_Guideline_Analysis/main/Result_Data/Similarity_Analysis_Results.csv")
download = requests.get(url_1).content

results = pd.read_csv(io.StringIO(download.decode('utf-8')))

results.info()
results.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Company Name  49 non-null     object
 1   Principle_1   49 non-null     float64
 2   Principle_2   49 non-null     float64
 3   Principle_3   49 non-null     float64
 4   Principle_4   49 non-null     float64
 5   Principle_5   49 non-null     float64
 6   Principle_6   49 non-null     float64
 7   Principle_7   49 non-null     float64
 8   Principle_8   49 non-null     float64
 9   Principle_9   49 non-null     float64
 10  Principle_10  49 non-null     float64
dtypes: float64(10), object(1)
memory usage: 4.3+ KB

,Company Name,Principle_1,Principle_2,Principle_3,Principle_4,Principle_5,Principle_6,Principle_7,Principle_8,Principle_9,Principle_10
0,Accenture,0.717751,0.702382,0.622116,0.619037,0.695432,0.667470,0.679528,0.698220,0.679119,0.609393
1,Adobe,0.566864,0.510722,0.576407,0.499825,0.604011,0.532677,0.571322,0.575822,0.624023,0.515835
2,Alphabet,0.630594,0.664262,0.607258,0.495027,0.723127,0.607318,0.684914,0.612065,0.668277,0.591854
3,Amazon,0.596675,0.681675,0.566090,0.501614,0.677715,0.510401,0.623684,0.591917,0.627909,0.596835
4,Atos,0.709803,0.718689,0.629426,0.643502,0.736860,0.654673,0.691443,0.722562,0.692313,0.635033

In [3]:
# Create a column showing column name with Maximum and Minimum values of each row
results['Max_Principle'] = results.iloc[:, 1:10].idxmax(axis=1)
results['Min_Principle'] = results.iloc[:, 1:10].idxmin(axis=1)

# Create a column showing the Maximum and Minimum value of each rows
results['Max_Val'] = results.iloc[:, 1:10].max(axis=1)
results['Min_Val'] = results.iloc[:, 1:10].min(axis=1)
results.head()

,Company Name,Principle_1,Principle_2,Principle_3,Principle_4,Principle_5,Principle_6,Principle_7,Principle_8,Principle_9,Principle_10,Max_Principle,Min_Principle,Max_Val,Min_Val
0,Accenture,0.717751,0.702382,0.622116,0.619037,0.695432,0.667470,0.679528,0.698220,0.679119,0.609393,Principle_1,Principle_4,0.717751,0.619037
1,Adobe,0.566864,0.510722,0.576407,0.499825,0.604011,0.532677,0.571322,0.575822,0.624023,0.515835,Principle_9,Principle_4,0.624023,0.499825
2,Alphabet,0.630594,0.664262,0.607258,0.495027,0.723127,0.607318,0.684914,0.612065,0.668277,0.591854,Principle_5,Principle_4,0.723127,0.495027
3,Amazon,0.596675,0.681675,0.566090,0.501614,0.677715,0.510401,0.623684,0.591917,0.627909,0.596835,Principle_2,Principle_4,0.681675,0.501614
4,Atos,0.709803,0.718689,0.629426,0.643502,0.736860,0.654673,0.691443,0.722562,0.692313,0.635033,Principle_5,Principle_3,0.736860,0.629426

In [4]:
results['Max-Min'] = results.iloc[:, 1:10].max(axis=1) - results.iloc[:, 1:10].min(axis=1)
results['Avg'] = results.iloc[:, 1:10].mean(axis=1)
results.head()

,Company Name,Principle_1,Principle_2,Principle_3,Principle_4,Principle_5,Principle_6,Principle_7,Principle_8,Principle_9,Principle_10,Max_Principle,Min_Principle,Max_Val,Min_Val,Max-Min,Avg
0,Accenture,0.717751,0.702382,0.622116,0.619037,0.695432,0.667470,0.679528,0.698220,0.679119,0.609393,Principle_1,Principle_4,0.717751,0.619037,0.098714,0.675673
1,Adobe,0.566864,0.510722,0.576407,0.499825,0.604011,0.532677,0.571322,0.575822,0.624023,0.515835,Principle_9,Principle_4,0.624023,0.499825,0.124198,0.562408
2,Alphabet,0.630594,0.664262,0.607258,0.495027,0.723127,0.607318,0.684914,0.612065,0.668277,0.591854,Principle_5,Principle_4,0.723127,0.495027,0.228101,0.632538
3,Amazon,0.596675,0.681675,0.566090,0.501614,0.677715,0.510401,0.623684,0.591917,0.627909,0.596835,Principle_2,Principle_4,0.681675,0.501614,0.180060,0.597520
4,Atos,0.709803,0.718689,0.629426,0.643502,0.736860,0.654673,0.691443,0.722562,0.692313,0.635033,Principle_5,Principle_3,0.736860,0.629426,0.107434,0.688808

In [5]:
analysis = results.iloc[:, [0,11,12,13,14,15,16]]
analysis.head()

,Company Name,Max_Principle,Min_Principle,Max_Val,Min_Val,Max-Min,Avg
0,Accenture,Principle_1,Principle_4,0.717751,0.619037,0.098714,0.675673
1,Adobe,Principle_9,Principle_4,0.624023,0.499825,0.124198,0.562408
2,Alphabet,Principle_5,Principle_4,0.723127,0.495027,0.228101,0.632538
3,Amazon,Principle_2,Principle_4,0.681675,0.501614,0.180060,0.597520
4,Atos,Principle_5,Principle_3,0.736860,0.629426,0.107434,0.688808

In [9]:
analysis['Max_Principle'].value_counts().to_frame()

             Max_Principle
Principle_5             23
Principle_9              6
Principle_2              5
Principle_8              5
Principle_7              4
Principle_1              2
Principle_3              2
Principle_6              2

In [10]:
analysis['Min_Principle'].value_counts().to_frame()

             Min_Principle
Principle_4             37
Principle_2              7
Principle_3              2
Principle_6              2
Principle_7              1

In [ ]:
# All Ranking