<a href="https://colab.research.google.com/github/Kensuzuki95/Corporate_AI_Ethics_Guideline_Analysis/blob/main/Result_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [238]:
import numpy as np 
import pandas as pd 
import requests
import io

In [239]:
# Downloading the result data/file from your GitHub account

url_1 = ("https://raw.githubusercontent.com/Kensuzuki95/Corporate_AI_Ethics_Guideline_Analysis/main/Result_Data/Similarity_Analysis_Results.csv")
download = requests.get(url_1).content

results = pd.read_csv(io.StringIO(download.decode('utf-8')))

results.info()
results.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Company Name  49 non-null     object
 1   Principle_1   49 non-null     float64
 2   Principle_2   49 non-null     float64
 3   Principle_3   49 non-null     float64
 4   Principle_4   49 non-null     float64
 5   Principle_5   49 non-null     float64
 6   Principle_6   49 non-null     float64
 7   Principle_7   49 non-null     float64
 8   Principle_8   49 non-null     float64
 9   Principle_9   49 non-null     float64
 10  Principle_10  49 non-null     float64
dtypes: float64(10), object(1)
memory usage: 4.3+ KB

,Company Name,Principle_1,Principle_2,Principle_3,Principle_4,Principle_5,Principle_6,Principle_7,Principle_8,Principle_9,Principle_10
0,Accenture,0.717751,0.702382,0.622116,0.619037,0.695432,0.667470,0.679528,0.698220,0.679119,0.609393
1,Adobe,0.566864,0.510722,0.576407,0.499825,0.604011,0.532677,0.571322,0.575822,0.624023,0.515835
2,Alphabet,0.630594,0.664262,0.607258,0.495027,0.723127,0.607318,0.684914,0.612065,0.668277,0.591854
3,Amazon,0.596675,0.681675,0.566090,0.501614,0.677715,0.510401,0.623684,0.591917,0.627909,0.596835
4,Atos,0.709803,0.718689,0.629426,0.643502,0.736860,0.654673,0.691443,0.722562,0.692313,0.635033

In [240]:
# Create a column showing column name with Maximum and Minimum values of each row
results['Max_Principle'] = results.iloc[:, 1:11].idxmax(axis=1)
results['Min_Principle'] = results.iloc[:, 1:11].idxmin(axis=1)

# Create a column showing the Maximum and Minimum value of each rows
results['Max_Val'] = results.iloc[:, 1:11].max(axis=1)
results['Min_Val'] = results.iloc[:, 1:11].min(axis=1)
results.head()

,Company Name,Principle_1,Principle_2,Principle_3,Principle_4,Principle_5,Principle_6,Principle_7,Principle_8,Principle_9,Principle_10,Max_Principle,Min_Principle,Max_Val,Min_Val
0,Accenture,0.717751,0.702382,0.622116,0.619037,0.695432,0.667470,0.679528,0.698220,0.679119,0.609393,Principle_1,Principle_10,0.717751,0.609393
1,Adobe,0.566864,0.510722,0.576407,0.499825,0.604011,0.532677,0.571322,0.575822,0.624023,0.515835,Principle_9,Principle_4,0.624023,0.499825
2,Alphabet,0.630594,0.664262,0.607258,0.495027,0.723127,0.607318,0.684914,0.612065,0.668277,0.591854,Principle_5,Principle_4,0.723127,0.495027
3,Amazon,0.596675,0.681675,0.566090,0.501614,0.677715,0.510401,0.623684,0.591917,0.627909,0.596835,Principle_2,Principle_4,0.681675,0.501614
4,Atos,0.709803,0.718689,0.629426,0.643502,0.736860,0.654673,0.691443,0.722562,0.692313,0.635033,Principle_5,Principle_3,0.736860,0.629426

In [251]:
results['Max-Min'] = results.iloc[:, 1:11].max(axis=1) - results.iloc[:, 1:11].min(axis=1)
results['Avg'] = results.iloc[:, 1:11].mean(axis=1)
results.head()

,Company Name,Principle_1,Principle_2,Principle_3,Principle_4,Principle_5,Principle_6,Principle_7,Principle_8,Principle_9,Principle_10,Max_Principle,Min_Principle,Max_Val,Min_Val,Max-Min,Avg
0,Accenture,0.717751,0.702382,0.622116,0.619037,0.695432,0.667470,0.679528,0.698220,0.679119,0.609393,Principle_1,Principle_10,0.717751,0.609393,0.108357,0.669045
1,Adobe,0.566864,0.510722,0.576407,0.499825,0.604011,0.532677,0.571322,0.575822,0.624023,0.515835,Principle_9,Principle_4,0.624023,0.499825,0.124198,0.557751
2,Alphabet,0.630594,0.664262,0.607258,0.495027,0.723127,0.607318,0.684914,0.612065,0.668277,0.591854,Principle_5,Principle_4,0.723127,0.495027,0.228101,0.628470
3,Amazon,0.596675,0.681675,0.566090,0.501614,0.677715,0.510401,0.623684,0.591917,0.627909,0.596835,Principle_2,Principle_4,0.681675,0.501614,0.180060,0.597452
4,Atos,0.709803,0.718689,0.629426,0.643502,0.736860,0.654673,0.691443,0.722562,0.692313,0.635033,Principle_5,Principle_3,0.736860,0.629426,0.107434,0.683430

In [242]:
analysis = results.iloc[:, [0,11,12,13,14,15,16]]
analysis.head()

,Company Name,Max_Principle,Min_Principle,Max_Val,Min_Val,Max-Min,Avg
0,Accenture,Principle_1,Principle_10,0.717751,0.609393,0.098714,0.669045
1,Adobe,Principle_9,Principle_4,0.624023,0.499825,0.124198,0.557751
2,Alphabet,Principle_5,Principle_4,0.723127,0.495027,0.228101,0.628470
3,Amazon,Principle_2,Principle_4,0.681675,0.501614,0.180060,0.597452
4,Atos,Principle_5,Principle_3,0.736860,0.629426,0.107434,0.683430

In [243]:
results.columns.values

array(['Company Name', 'Principle_1', 'Principle_2', 'Principle_3',
       'Principle_4', 'Principle_5', 'Principle_6', 'Principle_7',
       'Principle_8', 'Principle_9', 'Principle_10', 'Max_Principle',
       'Min_Principle', 'Max_Val', 'Min_Val', 'Max-Min', 'Avg'],
      dtype=object)

In [244]:
max = analysis['Max_Principle'].value_counts().to_frame()
max.reset_index(inplace=True)
max = max.rename(columns = {'index':'Principle'})
max

     Principle  Max_Principle
0  Principle_5             23
1  Principle_9              6
2  Principle_2              5
3  Principle_8              5
4  Principle_7              4
5  Principle_1              2
6  Principle_3              2
7  Principle_6              2

In [245]:
min = analysis['Min_Principle'].value_counts().to_frame()
min.reset_index(inplace=True)
min = min.rename(columns = {'index':'Principle'})
min

      Principle  Min_Principle
0   Principle_4             35
1   Principle_2              7
2  Principle_10              4
3   Principle_6              2
4   Principle_3              1

In [246]:
principles = ['Principle_1', 'Principle_2', 'Principle_3',
       'Principle_4', 'Principle_5', 'Principle_6', 'Principle_7',
       'Principle_8', 'Principle_9', 'Principle_10']
max_min = pd.DataFrame(principles, columns = ['Principle'])
max_min = pd.merge(max_min, max, on = 'Principle', how ='outer')
max_min = pd.merge(max_min, min, on = 'Principle', how ='outer')
max_min = max_min.fillna(0)
max_min.iloc[:,1:3] = max_min.iloc[:,1:3].astype(int)
max_min

      Principle  Max_Principle  Min_Principle
0   Principle_1              2              0
1   Principle_2              5              7
2   Principle_3              2              1
3   Principle_4              0             35
4   Principle_5             23              0
5   Principle_6              2              2
6   Principle_7              4              0
7   Principle_8              5              0
8   Principle_9              6              0
9  Principle_10              0              4

In [247]:
# All Ranking
ranks = [1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0]
ranking = pd.DataFrame(ranks, columns = ['Ranking'])
#ranking

In [248]:
def ranking_frequency(num):
  colname = ['Principle_'+ str(num)]
  pnum = rank[colname].value_counts().to_frame()
  pnum.reset_index(inplace=True)
  pnum = pnum.rename(columns = {colname[0]:'Ranking', 0:colname[0]})
  result = pd.merge(ranking, pnum, on = 'Ranking', how ='outer')
  return result

In [249]:
rank1 = ranking_frequency(1)
rank2 = ranking_frequency(2)
rank3 = ranking_frequency(3)
rank4 = ranking_frequency(4)
rank5 = ranking_frequency(5)
rank6 = ranking_frequency(6)
rank7 = ranking_frequency(7)
rank8 = ranking_frequency(8)
rank9 = ranking_frequency(9)
rank10 = ranking_frequency(10)

In [250]:
from functools import reduce
#define list of DataFrames
dfs = [rank1, rank2, rank3, rank4, rank5, rank6, rank7, rank8, rank9, rank10]

#merge all DataFrames into one
rank_all = reduce(lambda  left,right: pd.merge(left, right, on = ['Ranking'], how='outer'), dfs).fillna('0').astype(int)
rank_all

,Ranking,Principle_1,Principle_2,Principle_3,Principle_4,Principle_5,Principle_6,Principle_7,Principle_8,Principle_9,Principle_10
0,1,2,5,2,0,23,2,4,5,6,0
1,2,2,4,2,0,14,0,8,7,10,2
2,3,5,5,4,0,5,0,9,10,11,0
3,4,7,5,3,0,4,2,5,10,10,3
4,5,12,2,3,2,1,9,6,4,9,1
5,6,5,3,3,0,2,8,11,8,2,7
6,7,12,2,10,2,0,11,3,4,0,5
7,8,3,6,9,6,0,6,1,0,0,18
8,9,1,10,12,4,0,9,2,1,1,9
9,10,0,7,1,35,0,2,0,0,0,4

In [252]:
rank_all['Max_Principle'] = rank_all.iloc[:, 1:11].idxmax(axis=1)
rank_all['Min_Principle'] = rank_all.iloc[:, 1:11].idxmin(axis=1)
rank_all

,Ranking,Principle_1,Principle_2,Principle_3,Principle_4,Principle_5,Principle_6,Principle_7,Principle_8,Principle_9,Principle_10,Max_Principle,Min_Principle
0,1,2,5,2,0,23,2,4,5,6,0,Principle_5,Principle_4
1,2,2,4,2,0,14,0,8,7,10,2,Principle_5,Principle_4
2,3,5,5,4,0,5,0,9,10,11,0,Principle_9,Principle_4
3,4,7,5,3,0,4,2,5,10,10,3,Principle_8,Principle_4
4,5,12,2,3,2,1,9,6,4,9,1,Principle_1,Principle_5
5,6,5,3,3,0,2,8,11,8,2,7,Principle_7,Principle_4
6,7,12,2,10,2,0,11,3,4,0,5,Principle_1,Principle_5
7,8,3,6,9,6,0,6,1,0,0,18,Principle_10,Principle_5
8,9,1,10,12,4,0,9,2,1,1,9,Principle_3,Principle_5
9,10,0,7,1,35,0,2,0,0,0,4,Principle_4,Principle_1